'.text.html.vue':
	'Vue all':
		'prefix': 'vall'
		'body': """
			<template${1: lang="$2"}>
			$0
			</template>

			<script${3: lang="$4"}>
			export default {
				name: '',
				props: [],
				components: {},
				data () {
					return {}
				},
				computed: {},
				methods: {}
			}
			</script>

			<style${5: lang="$6"}${7: scoped}>

			</style>
		"""

	'Vue Template Tag':
		'prefix': 'vtem'
		'body': """
			<template${1: lang="$2"}>$0</template>
		"""

	'Vue Script Tag':
		'prefix': 'vsc'
		'body': """
			<script${1: lang="$2"}>
			export default {
				// Options / Data
				props: [],
				data () {
					return {}
					},
				methods: {},
				computed: {},
				// watch: {},
				// Options / DOM
				// el: '',
				// template: '',
				// render(h) {},
				// renderError(h) {}, // dev mode only, with hot-reload
				// Options / Lifecycle Hooks
				// beforeCreated () {},
				// created () {},
				// beforeMount() {},
				// mounted() {},
				// beforeUpdate() {},
				// updated() {},
				// activated() {},
				// deactivated() {},
				// beforeDestroy () {},
				// destroyed () {},
				// Options / Assets
				// directives: {},
				// filters: {},
				// components: {},
				// Options / Misc
				// name: '',
				// functional: true,
				// Options  / Composition
				// parent: null,
				// mixins: [],
				// extends: {} // short-hand of Vue.extend
			}
			</script>
		"""

	'Vue Style Tag':
		'prefix': 'vst'
		'body': """
			<style${1: lang="$2"}${3: scoped}>$0</style>
		"""
